{% extends "publications/base.html" %}

{% block extraJS %}
<link href="{{STATIC_URL}}publications/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}publications/css/calendario_dw-estilos.css" type="text/css" rel="STYLESHEET">
<script src="{{STATIC_URL}}publications/js/bootstrap-datetimepicker.min.js"></script>
<!--Calendar-->
     <script type="text/javascript" src="{{STATIC_URL}}publications/js/calendario-jquery/calendario_dw/calendario_dw.js"></script>
	<script type="text/javascript">
   $(document).ready(function(){
      $(".campofecha").calendarioDW();
   })
   </script>
{% endblock %}

{% block title %} SDAE - Publicación - Publicar {% endblock %}

{% block content %}
<form
method="POST"
action=""
enctype="multipart/form-data"
role="form"
class="form-horizontal">
{% csrf_token %}
<legend>{% block formLegend%}{% endblock %}</legend>

{% block generalInfo %}
{% for pfield in pform %}
<div class="form-group">
	<span class="text-danger">{{ pfield.errors }}</span>
	<label for="{{pfield.auto_id}}" class="col-sm-2 control-label">
		{{pfield.label}}:
	</label>
	<div class="col-sm-10">
	{{pfield}}
	</div>
</div>
{% endfor %}
{% endblock %}

{% block specificInfo %}
{% endblock %}

<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-primary">Publicar</button>
	</div>
</div>

</form>
{% endblock %}