{% extends "publications/base.html" %}

{% block title %} SDAE - Lista de Compra/venta{% endblock %}


{% block content %}

{% for buysell in buysellList %}    

      

<div class="media">
              <a class="pull-left" href="#">
                <img width="64" height="64" class="media-object" data-src="{{STATIC_URL}}media/{{publication.imageUrl}}" alt="publication">
              </a>
      
	<div class="media-body">
                <h4 class="media-heading"><strong>	 <a class="pull-left" href="/publications/buysell/{{buysell.publication.pk}}">
{{ buysell.publication.title|upper }}</a></strong></br>
				<p>{{ buysell.publication.content }}</p>
 	</div> <!--media-body-->
	
</div><!-- end media-->
<div class="brd"></div>

{% endfor %}

{% endblock %}

