{% extends "publications/base.html" %}

{% block title %} SDAE - Lista de Compra/venta{% endblock %}

{% block breadcrumbs %}
<li><a href="/home/">Inicio</a></li>
<li><a href="/publications/">Publicaciones</a></li>
<li class="active">Compra/Venta</a></li>
{% endblock %}
{% block content %}

{% for buysell in buysellList %}    

      

<div class="media">
              <a class="pull-left" href="#">
                <img src="{% ifequal buysell.publication.imageUrl '' %}{{STATIC_URL}}publications/imgs/imagePlaceholder.png{% else %}{{STATIC_URL}}media/{{buysell.publication.imageUrl}}{% endifequal %}" alt="{{buysell.publication.title}}" style="width: 64px; height: auto;">
              </a>
      
	<div class="media-body">
                <h4 class="media-heading"><strong>	 <a class="pull-left" href="/publications/buysell/{{buysell.publication.pk}}">
{{ buysell.publication.title|upper }}</a></strong></br>
				<p>{{ buysell.publication.content }}</p>
 	</div> <!--media-body-->
	
</div><!-- end media-->
<div class="brd"></div>

{% endfor %}

{% endblock %}

