<!DOCTYPE html>
<html lang="es">

<head>
	<title>SDAE - Evento - {{event.publication.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="{{STATIC_URL}}publications/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{STATIC_URL}}publications/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
	<link href="{{STATIC_URL}}publications/css/sticky-footer-navbar.css" rel="stylesheet" media="screen">
</head>

<!-- RESPONSIVE IMAGES TEMPLATE -->
<!-- <img src="..." class="img-responsive" alt="Responsive image"> -->
<!-- RESPONSIVE IMAGES TEMPLATE -->

<body style>
	<div id="wrap">

		<!-- NAVBAR -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="nav-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">SDAE</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Publicaciones
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Avisos</a></li>
								<li><a href="/publications/events/">Eventos</a></li>
								<li><a href="#">Ofertas de Empleo</a></li>
								<li><a href="#">Encontrado-Perdido</a></li>
								<li><a href="#">Compra-Venta</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Info. Escolar
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Horarios</a></li>
								<li><a href="/schoolInfo/teachers/">Profesores</a></li>
								<li><a href="#">Materias</a></li>
								<li><a href="#">Lugares</a></li>
								<li><a href="#">Actividades</a></li>
							</ul>
						</li>

						<li>
							<a href="/logout">Cerrar Sesión ({{ user }})</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- NAVBAR -->

		<!-- CONTENT -->
		<div class="container">
			<!-- DATOS DE PUBLICACIÓN -->
			<p><img src="{{STATIC_URL}}media/{{event.publication.imageUrl}}" alt="eventImage"/></p>
			<p class="lead">{{event.publication.id}}: {{event.publication.title}}<p>
			<p>Author: {{event.publication.author}}</p>
			<p>Puntos: {{publicationPoints}}</p>
			<p>{{event.publication.content}}</p>

			<p>
				<br/>
				{% ifequal isAuthor True %}
				Puede borrar
				{% else %}
				No puede borrar
				{% endifequal %}
			</p>
			<!-- DATOS DE PUBLICACIÓN -->

			<form action="/publications/vote/" method="POST">
				{% csrf_token %}
				<input type="hidden" name="voteValue" value="+1" />
				<input type="hidden" name="publicationId" value="{{ event.publication.id }}" />
				<input type="submit" value="+1" {% ifequal True blockVotes %} disabled="true" {% endifequal %}/>
			</form>

			<form action="/publications/vote/" method="POST">
				{% csrf_token %}
				<input type="hidden" name="voteValue" value="-1">
				<input type="hidden" name="publicationId" value="{{ event.publication.id }}" />
				<input type="submit" value="-1" {% ifequal True blockVotes %} disabled="true" {% endifequal %}/>
			</form>

			<!-- FORMULARIO DE COMENTARIOS -->
			<form method="POST" action="">
				{% csrf_token %}
				<legend>Comentar publicación</legend>
				<fieldset>
				{{commentForm.as_p}}
				</fieldset>
				<button type="submit" class="btn btn-primary">Comentar</button>
			</form>
			<!-- FORMULARIO DE COMENTARIOS -->

			<!-- COMENTARIOS -->
			{% for comment in event.publication.comment_set.all %}
				<p><b>El {{comment.published}} {{comment.author}} comentó:</b></p>
				<p>{{comment.content}}</p>
			{% endfor %}
			<!-- COMENTARIOS -->
		</div>
		<!-- CONTENT -->

		<!-- FOOTER -->
		<div id="footer">
			<div class="container">
				<p class="text-muted credit">
					SDAE <a href="http://www.isc.escom.ipn.mx/">ESCOM</a>
				</p>
			</div>
		</div>
		<!-- FOOTER -->
	</div>
	<script src="{{STATIC_URL}}publications/js/jquery-1.10.2.min.js"></script>
	<script src="{{STATIC_URL}}publications/js/bootstrap.min.js"></script>
</body>

</html>