{% extends "publications/base.html" %}

{% block title %} SDAE - Lista de publicaciones {% endblock %}

{% block breadcrumbs %}
	<li><a href="/">Inicio</a></li>
	<li><a href="/publications/">Publicaciones</a></li>
	<li class="active">Eventos</li>
{% endblock %}

{% block content %}

<div class="container">
	{% for event in eventsList%}
	<div class="media">
		<a class="pull-left" href="/publications/events/{{event.publication.pk}}">
			<img class="media-object" src="{% ifequal event.publication.imageUrl '' %}{{STATIC_URL}}publications/imgs/imagePlaceholder.png{% else %}{{STATIC_URL}}media/{{event.publication.imageUrl}}{% endifequal %}" alt="{{event.publication.title}}">
		</a>
		<div class="media-body">
			<a href="/publications/events/{{event.publication.pk}}">
				<h4 class="media-heading">{{event.publication.title}}</h4>
			</a>
			{{event.publication.content|truncatechars:280}}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
