{% extends "publications/base_publication_detail.html" %}

{% block title %} SDAE - Encontrado/Perdido- {{publication.title}} {% endblock %}
{% block breadcrumbs %}
<li><a href="/">Inicio</a></li>
<li><a href="/publications/">Publicaciones</a></li>
<li><a href="/publications/lostandfound">Perdido/Encontrado</a></li>
<li class="active"> {{lostandfound.publication.title}}<span class="divider">/</span></li>
{% endblock %}


{% block filters %}
 <a href="#" class="list-group-item active">Categorías</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
{% endblock %}


{% block additionalInfo %}
  


<p>
    
      <p class="lead">Etiquetas:{%for tag in lostandfound.publication.tags.all %} {{tag.name}} <br/> {% endfor %}</p>
      <p class="lead">Fecha y hora de extravío: {{lostandfound.lostOrFoundDate}}/{{lostandfound.lostOrFoundTime}}</p>
     
     <p class="contRight"> lugar de extravío:{{lostandfound.lastSeenLocation}}</p>
   <p class="contRight">    Recompensa: $ {{lostandfound.reward}}</p>

</p>
			
{% endblock %}

