{% extends "publications/base_publication_detail.html" %}

{% block title %} SDAE - Encontrado/Perdido- {{publication.title}} {% endblock %}
{% block breadcrumbs %}
<li><a href="/">Inicio</a></li>
<li><a href="/publications/">Publicaciones</a></li>
<li><a href="/publications/lostandfound">Perdido/Encontrado</a></li>
<li class="active"> {{lostandfound.publication.title}}<span class="divider">/</span></li>
{% endblock %}




{% block additionalInfo %}
  


<p>
    </br>
       </br>
       <p class="lborder"></p>
      <p class="lead">Etiquetas:</p>
        <div class="btn-group">
       {%for tag in lostandfound.publication.tags.all %} 

       
        <button type="button" class="btn btn-default"> {{tag.name}} </button>&nbsp;&nbsp;
        {% endfor %}
      </div>
      <p class="lead">Fecha y hora de extravío: {{lostandfound.lostOrFoundDate}}/{{lostandfound.lostOrFoundTime}}</p>
     
     <p class="contRight"> lugar de extravío:{{lostandfound.lastSeenLocation}}</p>
   <p class="contRight">    Recompensa: $ {{lostandfound.reward}}</p>

</p>
			
{% endblock %}


