{% extends "publications/base.html" %}

{% block title %} SDAE - Lista de Empleo {% endblock %}

{% block breadcrumbs %}
<li><a href="/home/">Inicio</a></li>
<li><a href="/publications/">Publicaciones</a></li>
<li class="active">Oferta Laboral</a></li>
{% endblock %}


{% block content %}
{% for joboffer in jobofferList %}  
      

<div class="media">
              <a class="pull-left" href="#">
               <img src="{% ifequal joboffer.publication.imageUrl '' %}{{STATIC_URL}}publications/imgs/imagePlaceholder.png{% else %}{{STATIC_URL}}media/{{joboffer.publication.imageUrl}}{% endifequal %}" alt="{{joboffer.publication.title}}" style="width: 64px; height: auto;">
      
	<div class="media-body">
                <h4 class="media-heading"><strong>	 <a class="pull-left" href="/publications/joboffer/{{joboffer.publication.pk}}">
{{ joboffer.publication.title|upper }}</a></strong></br>
				<p>{{ joboffer.publication.content }}</p>
 	</div> <!--media-body-->
	
</div><!-- end media-->
<div class="brd"></div>

{% endfor %}

{% endblock %}