{% extends "publications/base.html" %}

{% block title %} SDAE - Lista de Empleo {% endblock %}

{% block filters %}
 <a href="#" class="list-group-item active">Categorías</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
{% endblock %}

{% block content %}
{% for joboffer in jobofferList %}  
      

<div class="media">
              <a class="pull-left" href="#">
                <img width="64" height="64" class="media-object" data-src="{{STATIC_URL}}media/{{publication.imageUrl}}" alt="publication">
              </a>
      
	<div class="media-body">
                <h4 class="media-heading"><strong>	 <a class="pull-left" href="/publications/joboffer/{{joboffer.publication.pk}}">
{{ joboffer.publication.title|upper }}</a></strong></br>
				<p>{{ joboffer.publication.content }}</p>
 	</div> <!--media-body-->
	
</div><!-- end media-->
<div class="brd"></div>

{% endfor %}

{% endblock %}