{% extends "publications/base_publication_detail.html" %}

{% block title %} SDAE - Oferta Laboral- {{publication.title}} {% endblock %}
{% block changes %}
<p class="changes">
  <br/>
  <div class="permission">
  {% ifequal isAuthor True%}
  <a href="/publications/joboffer/edit/{{publication.pk}}"> <img src="{{STATIC_URL}}publications/iconos/update.png"   id="delete" alt="ipod classic" title="actualizar" border="0" /></a>
              <a href="/publications/delete/{{joboffer.pk}}/"> <img src="{{STATIC_URL}}publications/iconos/delete.png"  id="delete" alt="ipod classic" title="borrar" border="0" /></a> 
              {% else%}
              <p> Usuario sin permisos de edición</p>
    {% endifequal%}          
</div> <!--end permission-->
</p>
{% endblock%}




{% block additionalInfo %}
     
 
</br>
<p>
</br>
      <p class="lead">Etiquetas:</p>
        <div class="btn-group">
       {%for tag in joboffer.publication.tags.all %} 

       
        <button type="button" class="btn btn-default"> {{tag.name}} </button>&nbsp;&nbsp;
        {% endfor %}
      </div>
    <p class="lborder"></p>   <p class="ltextt">{{joboffer.company.name|upper}}</p><p class="rborder"></p>  
     
     <p class="lead">Dirección de la entrevista : {{joboffer.appointmentAdress}}</p>
       <p class="lead">Fecha de entrevista:{{joboffer.apointmentDate}}</p>
   <p class="lead">Dirección para laborar:{{joboffer.laboralAddress}}</p>
     <p class="rightP">Oferta disponible:{{joboffer.isOpen}}</p></br>
     <p class="rightP">Salario:${{joboffer.compensation}}</p>
</p>

			
{% endblock %}

