{% extends "publications/base_publication_create.html" %}

{% block title %} SDAE - Eventos - Publicar {% endblock %}

{% block breadcrumbs %}
<li><a href="/">Inicio</a></li>
<li><a href="/publications/">Publicaciones</a></li>	
<li class="active">Publicar Material</li>
{% endblock %}

{% block specificInfo %}
{% for efield in cmform %}
<div class="form-group">
	{{ efield.errors }}
	<label for="{{efield.auto_id}}" class="col-sm-2 control-label">
		{{efield.label}}:
	</label>
	<div class="col-sm-10">
	{{efield}}
	</div>
</div>
{% endfor %}
{% endblock %}