{% extends "publications/base.html" %}

{% block title %} SDAE - Publicaciones {% endblock %}

{% block content %}

<div class="media">
	<a class="pull-left" href="/publications/events/announcements">
		<img class="media-object" src="{{STATIC_URL}}publications/imgs/64x64.gif">
	</a>
	<div class="media-body">
		<a href="/publications/announcements">
			<h2 class="media-heading">Anuncios</h2>
		</a>
	</div>
</div>

<div class="media">
	<a class="pull-left" href="/publications/events/">
		<img class="media-object" src="{{STATIC_URL}}publications/imgs/64x64.gif">
	</a>
	<div class="media-body">
		<a href="/publications/events">
			<h2>Eventos</h2>
		</a>
	</div>
</div>

<div class="media">
	<a class="pull-left" href="/publications/joboffers/">
		<img class="media-object" src="{{STATIC_URL}}publications/imgs/64x64.gif">
	</a>
	<div class="media-body">
		<a href="/publications/joboffers">
			<h2>Ofertas de Empleo</h2>
		</a>
	</div>
</div>

<div class="media">
	<a class="pull-left" href="/publications/lostandfound/">
		<img class="media-object" src="{{STATIC_URL}}publications/imgs/64x64.gif">
	</a>
	<div class="media-body">
		<a href="/publications/lostandfound">
			<h2>Encontrado-Perdido</h2>
		</a>
	</div>
</div>

<div class="media">
	<a class="pull-left" href="/publications/buyandsell/">
		<img class="media-object" src="{{STATIC_URL}}publications/imgs/64x64.gif">
	</a>
	<div class="media-body">
		<a href="/publications/buyandsell">
			<h2>Compra-Venta</h2>
		</a>
	</div>
</div>

{% endblock %}
