<!DOCTYPE html>
<html>

<head>
	<title>Publicaciones</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

<div class="container">

{% for publication in publicationsList %}
<div>
<p><img src="{{MEDIA_URL}}{{publication.imageUrl}}"/></p>
<p>Titulo: {{publication.title}}</p>
<p>Autor: {{publication.author}}</p>
<p>Contenido: {{publication.content}}</p>
</div>
{% endfor %}

</div>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>

</html>
