<!DOCTYPE html>
<html>

<head>
	<title>Publicar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="{{STATIC_URL}}publications/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

<div class="container">
	<form method="POST" action="" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} class="form-horizontal">
	{% csrf_token %}
	<legend>Crear publicación</legend>
	<fieldset>
	{{ form.as_p }}
	</fieldset>
	<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
</div>

</body>

<script src="{{STATIC_URL}}publications/js/jquery-1.10.2.min.js"></script>
<script src="{{STATIC_URL}}publications/js/bootstrap.min.js"></script>

</html>