{% extends "publications/base.html" %}

{% block title %} SDAE - Horarios {% endblock %}
{% block sidebarItems %}
<div class="pane panel-primary">
  <div class="panel-heading">Categorías</div>

  <div class="list-group">
     
    <a class="list-group-item" href="/schoolInfo/teachers/" >Maestros</a>
        <a class="list-group-item" href="/schoolInfo/subjects/" >Materias</a>
        <a class="list-group-item" href="/schoolInfo/schedules/" >Horarios</a>
         <a class="list-group-item" href="/schoolInfo/localitations/B/" >Localización</a>

    
  </div>
    <div class="panel-heading">Visitar</div>
     <div class="list-group">
     
    <a class="list-group-item" href="https://www.saes.escom.ipn.mx/" >SAES</a>
        <a class="list-group-item" href="http://www.isc.escom.ipn.mx/swescom2012/" >ESCOM</a>
        <a class="list-group-item" href="http://www.ipn.mx/Paginas/inicio.aspx" >IPN</a>
</div>
</div>
  
{% endblock %}


{% block content %}

      

<div class="media">
            
	<div class="media-body">
		</br>
                <h2 class="media-heading"><strong>	 <a class="pull-left" href="/schoolInfo/schedules/1">
Lunes</a></strong></h2></br>
				
 	</div> <!--media-body-->
	
</br>
<div class="brd"></div>
	<div class="media-body">
		</br>
                <h2 class="media-heading"><strong>	 <a class="pull-left" href="/schoolInfo/schedules/2">
Martes</a></strong></h2></br>
				
 	</div> <!--media-body-->
	</br>

<div class="brd"></div>

<div class="brd"></div>
	<div class="media-body">
		</br>
                <h2 class="media-heading"><strong>	 <a class="pull-left" href="/schoolInfo/schedules/3">
Miercoles</a></strong></h2></br>
				
 	</div> <!--media-body-->
	
</br>
<div class="brd"></div>

	<div class="media-body">
		</br>
                <h2 class="media-heading"><strong>	 <a class="pull-left" href="/schoolInfo/schedules/4">
Jueves</a></strong></h2></br>
				
 	</div> <!--media-body-->
	</br>

<div class="brd"></div>
<div class="media-body">
	</br>
                <h2 class="media-heading"><strong>	 <a class="pull-left" href="/schoolInfo/schedules/5">
Viernes</a></strong></h2></br>
				
 	</div> <!--media-body-->
	
</br>
<div class="brd"></div>


</div><!-- end media-->

{% endblock %}