{% extends "publications/base.html" %}

{% block title %} SDAE - Info. Escolar - Profesores {% endblock %}
{% block sidebarItems %}
<div class="pane panel-primary">
  <div class="panel-heading">Categorías</div>

  <div class="list-group">
     
    <a class="list-group-item" href="/schoolInfo/teachers/" >Maestros</a>
        <a class="list-group-item" href="/schoolInfo/subjects/" >Materias</a>
        <a class="list-group-item" href="/schoolInfo/schedules/" >Horarios</a>
         <a class="list-group-item" href="/schoolInfo/localitations/B/" >Localización</a>

    
  </div>
    <div class="panel-heading">Visitar</div>
     <div class="list-group">
     
    <a class="list-group-item" href="https://www.saes.escom.ipn.mx/" >SAES</a>
        <a class="list-group-item" href="http://www.isc.escom.ipn.mx/swescom2012/" >ESCOM</a>
        <a class="list-group-item" href="http://www.ipn.mx/Paginas/inicio.aspx" >IPN</a>
</div>
</div>
  
{% endblock %}
{% block content %}
	<ul class="pagination">
<li><a href=#A>A</a><li>
<li><a href=#B>B</a><li>
<li><a href=#C>C</a><li>
<li><a href=#D>D</a><li>
<li><a href=#F>F</a><li>
<li><a href=#G>G</a><li>
<li><a href=#H>H</a><li>
<li><a href=#I>I</a><li>
<li><a href=#J>J</a><li>
<li><a href=#K>K</a><li>
<li><a href=#L>L</a><li>
<li><a href=#M>M</a><li>
<li><a href=#N>N</a><li>
<li><a href=#O>O</a><li>
<li><a href=#P>P</a><li>
<li><a href=#Q>Q</a><li>
<li><a href=#R>R</a><li>
<li><a href=#S>S</a><li>
<li><a href=#T>T</a><li>
<li><a href=#U>U</a><li>
<li><a href=#V>V</a><li>
<li><a href=#W>W</a><li>
<li><a href=#X>X</a><li>
<li><a href=#Y>Y</a><li>
<li><a href=#Z>Z</a><li>
</ul>
{% for letter, teachersList in teachersByLastnameDict.items %}

<a id={{letter}}>{{letter}}</a>

<p>
{% for teacher in teachersList %}
	<ul>
		<li>
	<a href="/schoolInfo/teachers/{{teacher.id}}">{{teacher.name}} {{teacher.lastname}}</a><br/>
		</li>
	</ul>
{% endfor %}
</p>

{% endfor %}
{% endblock %}